<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部的导航条-->
<div th:fragment="topbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">玫瑰与鹿</span>
                </button>
                <a class="navbar-brand" th:href="@{/}">玫瑰与鹿</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" th:action="@{/}" method="get">
                    <div class="form-group">
                        <input name="page" type="hidden" value="1">
                        <input type="text" class="form-control" name="search" placeholder="搜索话题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user!=null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li>
                        <a th:href="@{/profile/replies}">通知<span class="badge" th:text="${session.unreadCount}"></span></a>
                    </li>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="caret"></span>
                            <span th:text="${session.user.getName()}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/profile/questions}">我的提问</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user==null}">
                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#myModal">登陆注册</a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document" style="margin-top: 200px; width: 300px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                                    </div>
                                    <div class="modal-body" style="text-align: center">
                                        <a th:href="@{https://gitee.com/oauth/authorize(client_id='9b778148673d3394db628ffd9eeb272f936f83a9cd21eb82cdb5ccdd5008ef08', redirect_uri='http://localhost:8080/callback/gitee', response_type=code)}">
                                            <img th:src="@{/images/gitee.png}" alt="gitee">
                                        </a>
                                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='cdf2146a1fa9d15ae81a', redirect_uri='http://localhost:8080/callback/github', scope='user', state=1)}">
                                            <img th:src="@{/images/github.png}" alt="github">
                                        </a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<a href="https://github.com/login/oauth/authorize?client_id=cdf2146a1fa9d15ae81a&redirect_uri=http://localhost:8080/callback/github&scope=user&state=1">登录</a>
-->                 </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

</html>
