<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>玫瑰与鹿</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">

</head>
<body>
<!--头部的导航条-->
<div th:replace="~{common/navigation::topbar}"></div>

<div class="jumbotron">
    <h1>出错了!</h1>
    <p th:text="${msg}">稍等下再来哦~</p>
    <p><a class="btn btn-primary btn-lg" th:href="@{/}" role="button">回到首页</a></p>
</div>


<script type="application/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<div th:replace="~{common/footer::foot}"></div>

</body>
</html>